@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary_color: #004a9b;
  --secondary_color: #eb1c24;
  --add_color: #bbbbbb;
  --bg_color: #fff;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: "Open Sans";
}

.container {
  width: 1200px;
  max-width: 100%;

  margin: 0 auto;

  display: inherit;
  justify-content: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans";
  font-weight: 200;
}

h2 {
  font-size: 49px;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--primary_color);

  padding-bottom: 28px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg_color);
  padding-top: 200px;
}

header {
  position: absolute;
  height: 57px;
  width: 100%;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 600;

  padding: 30px 0;
  margin-top: 30px;
  z-index: 999;
  background-color: var(--bg_color);
}

header .logo {
  width: 178px;
  height: 57px;
  background-image: url("../img/full_logo.svg");
  background-size: cover;
}

header nav ul img {
  display: inline-block;
  height: 32px;
  width: 32px;
}

header nav ul {
  display: grid;
  grid-template-columns: 100px 180px 150px;
  align-items: center;

  list-style: none;

  z-index: 99;

  background-color: var(--bg_color);
}

header nav ul .mail,
.site {
  gap: 60px;
}

header .container nav ul .mail-link {
  color: var(--primary_color);
}

header .container nav ul .site-link {
  color: var(--primary_color);
}

header .container nav ul span {
  color: var(--secondary_color);
}

header .container nav ul {
  color: var(--add_color);
}

.socials-container {
  display: flex;
  gap: 12px;
}

header nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

/* ------------------------------------------------------------------ */
/* главный экран */

.banner {
  max-height: 100%;
  max-width: 100%;
}

.banner-img {
  max-width: 666px;
  height: 541px;
  grid-area: 1 / 1;
  z-index: 1;

  margin-left: 550px;
}

main .container .banner {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  padding-bottom: 100px;
}

main .container .banner .text-container {
  z-index: 999;
  width: 627px;
  grid-area: 1 / 1;

  align-self: start;
  justify-self: start;
  margin-top: 5%;
  max-width: 627px;
  position: relative;
}

main .container .banner .text-container .logo-h1 {
  font-size: 49px;
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary_color);

  padding-bottom: 20px;
}

main .container .banner .text-container .logo-h1 span {
  background-image: linear-gradient(
    to right,
    var(--secondary_color) 0%,
    var(--secondary_color) 100%
  );
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 2px;
}

main .container .banner .text-container p {
  font-size: 16px;
  font-weight: 400;

  padding-bottom: 54px;
  width: 420px;
}

main .container .banner .text-container .primary {
  background-color: var(--secondary_color);
  width: 203px;
  height: 52px;
  color: #fff;

  border-radius: 120px;
  border: none;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
}

main .container .banner .text-container .primary:hover {
  opacity: 0.8;
}

/* ------------------------------------------------------------------ */
/* секция 1 */

#familiar_with {
  max-height: 100%;
  max-width: 100%;
}

#familiar_with .container {
  display: grid;
  grid-template-columns: 1fr 557px;

  padding-bottom: 100px;
}

#familiar_with .container .text-container {
  text-align: left;
  align-items: center;
  width: 557px;
  height: 100%;

  padding-top: 140px;
}

#familiar_with .container .text-container p {
  padding-bottom: 28px;
}

#familiar_with .container .text-container span {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: left;
}

#familiar_with .container .text-container ul {
  width: 557px;
  padding-top: 18px;
}

#familiar_with .container .text-container ul li {
  list-style-image: url(../img/bullet.svg);
  list-style-position: inside;
}

/* ------------------------------------------------------------------ */
/* секция 2 */

#elementarno {
  max-height: 100%;
  max-width: 100%;
}

#elementarno .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-between;
  justify-content: center;
  gap: 107px;

  padding-bottom: 100px;
}

#elementarno .container .text-container {
  grid-area: 1 / 1;
  width: 590px;
  padding-top: 205px;
}


#elementarno .container .text-container img {
  width: 81px;
  height: 14px;
}

#elementarno .container .text-container span {
  color: var(--primary_color);
}

#elementarno .container img {
  grid-column: 2;
  grid-row: 1 / -1;
  width: 503px;
  align-self: center;
}

/* ------------------------------------------------------------------ */
/* секция 3 */

#hospitalization {
  max-height: 100%;
  max-width: 100%;
}

#hospitalization .container {
  display: grid;
  grid-template-columns: 1fr 557px;

  padding-bottom: 100px;
}

#hospitalization .container .text-container {
  text-align: left;
  align-items: center;
  width: 557px;
  height: 100%;

  padding-top: 140px;
}


#hospitalization .container .text-container h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--primary_color);

  padding-bottom: 18px;
}

#hospitalization .container .text-container span {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: left;
}

#hospitalization .container .text-container ul {
  width: 557px;
  padding-top: 18px;
  padding-bottom: 27px;
}

#hospitalization .container .text-container ul li {
  list-style-image: url(../img/bullet.svg);
  list-style-position: inside;
}

#hospitalization .container .text-container .button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#hospitalization .container .text-container .button-container button {
  width: 183px;
  height: 52px;
  color: var(--secondary_color);
  background-color: var(--bg_color);

  border-radius: 120px;
  border: 1px solid var(--secondary_color);
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}

#hospitalization .container .text-container .button-container button:hover {
  background-color: var(--secondary_color);
  color: var(--bg_color);
}



/* ------------------------------------------------------------------ */
/* секция 4 */

#next {
  max-height: 100%;
  max-width: 100%;
}

#next .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-between;
  justify-content: center;

  padding-bottom: 100px;
}

#next .container .text-container {
  grid-area: 1 / 1;
  width: 590px;
  height: 502px;
  padding-top: 83px;
}

#next .container .text-container span {
  color: var(--secondary_color);
}



/* ------------------------------------------------------------------ */
/* секция 5 */

#what_for {
  max-height: 100%;
  max-width: 100%;
}

#what_for .container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-bottom: 100px;
}

#what_for .container .text-container {
  text-align: left;
  align-items: center;
  width: 509px;
  height: 100%;

  padding-top: 240px;
}

#what_for .container .text-container img {
  width: 81px;
  height: 14px;
}

#what_for .container .text-container span {
  color: var(--secondary_color);
}


/* ------------------------------------------------------------------ */
/* секция 6 */
#pay {
  max-height: 100%;
  max-width: 100%;
}

#pay .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-between;
  justify-content: center;

  padding-bottom: 100px;
}

#pay .container .text-container {
  grid-area: 1 / 1;
  width: 488px;
  height: 502px;
  padding-top: 101px;
}

#pay .container .text-container span {
  color: var(--secondary_color);
}